<head>

<link href="/css/style.css" rel="stylesheet">
<title>
Flower Hangman
</title>
</head>

<body>
	
	<%=yield%> <!-- we use this to pass data (showing all the other ERB pages) into the page -->
	
</body>

<footer>
<div class="footer-text">
	King Games
	<br>
	Charleston, WV	
	</div>
</footer>